@{
    ViewData["Title"] = "Home Page";

    var alert = "bu bir uyarı mesajıdır"; //uyarı koymak için kullanılabilir
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>Günün Tarihi: @DateTime.Now.ToShortDateString()</div>
@{
    var datetime = DateTime.Now.ToShortDateString();
    var message = "merhaba";

    @: bugünün tarihi: @datetime
    <div> mesaj: @message </div>
    <text>Bugunün tarihi: @datetime </text>
}

@if (1==1)
{
    <p>doğru</p>
}
else if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>artık yıl</p>
}
else
{
    <p>yanlış</p>
}

@for(var i = 0; i<10; i++)
{
    <p> @i</p>
}

@foreach(var item in Enumerable.Range(1, 10).ToList())
{
    <p>@item</p>
}