@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "ExampleLayout";
}


@section header
{
    <p> bu kodlar headerin altına eklenecektir</p>
}
@section footer
{
    <p> bu kodlar footerın altına eklenecektirr</p>
}
<div> Bu sayfa Example Controller > Index Sayfası</div>